{
    "plugins" : {
	"root" : "",
	"list" : []
    },
    "rpc" : {
        "address" : "",
        "port" : 8080
    },
    "library" : {
        "root" : [""]
    },

    # audio output configurations
    "output" : {
        # ALSA
        "alsa" : {
	    # the name of the PCM to use for playing
	    "pcm" : "",
	    # maximum hardware buffer size in frames (optional)
	    "buffer_max" : 0
        }
    }
}
